@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --text-color: #30363c;
  --main-color: rgb(7, 161, 161);
  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --shadow-border: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: var(--text-color);
}

/* ---------Navbar--------- */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.nav {
  box-shadow: lightgray 0 0 5px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  & > img {
    margin: 7px 35px;
    height: 40px;
    & + div {
      width: 1px;
      background-color: gray;
      height: 30px;
      margin: auto 0;
    }
  }
  & > ul {
    margin: auto 20px;
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    & > li {
      border-radius: 8px;
    }
    & > li:hover {
      background-color: #dfdfdf;
    }
  }
  & > ul li,
  ul li a {
    margin: 10px 15px;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
  }
  & ul li p {
    margin-left: 5px;
    font-size: 14px;
  }
}
#pick-address {
  margin: auto 30px;
  & > div {
    display: flex;
    & p {
      font-size: 13px;
    }
  }
  & > h4 {
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    display: inline;
  }
  & > i {
    font-size: 14px;
    cursor: pointer;
  }
}
.download-app {
  cursor: pointer;
  display: flex;
  margin: auto 20px auto auto;
  padding: 10px 15px;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(226, 247, 255);
  & > p {
    font-weight: 400;
    margin-left: 5px;
    font-size: 14px;
  }
}
.download-app:hover {
  background-color: rgb(200, 240, 255);
}
